<section class="band band--lg home-values" id="values" data-home-values>
  <div class="container">
    {{> section-head}}
    <ol class="pou-list" role="list">
      {{#each values}}
      <li class="pou" data-pou data-reveal>
        <span class="pou__index" aria-hidden="true">{{pad2 (inc @index)}}</span>
        <div class="pou__text stack">
          <h3 class="pou__reo" lang="mi">{{reo}}</h3>
          <p class="pou__english">{{english}}</p>
          <p class="pou__meaning">{{meaning}}</p>
        </div>
        <figure class="pou__media media-frame media-frame--card{{#if image.fit}} media-frame--{{image.fit}}{{/if}}"{{frameStyle image}} data-parallax-img>
          <img src="/{{image.src}}" {{#if image.srcset}}srcset="{{image.srcset}}" sizes="(max-width: 64rem) 100vw, 45vw"{{/if}} alt="{{image.alt}}" loading="lazy" decoding="async">
        </figure>
      </li>
      {{/each}}
    </ol>
  </div>
</section>
